/* Raleway 200 */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/raleway-200.woff2") format("woff2");
}

/* Raleway 700 */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/raleway-700.woff2") format("woff2");
}

/* Source Sans 3 - normal (300 + 600 share the same file) */
@font-face {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/source-sans-3-normal.woff2") format("woff2");
}
@font-face {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/source-sans-3-normal.woff2") format("woff2");
}

/* Source Sans 3 - italic (300 + 600 share the same file) */
@font-face {
    font-family: "Source Sans 3";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/source-sans-3-italic.woff2") format("woff2");
}
@font-face {
    font-family: "Source Sans 3";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/source-sans-3-italic.woff2") format("woff2");
}