<!-- Footer -->
<section id="footer">
    <div class="inner">
        <h2 class="major">Get in touch</h2>
        <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce
            tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus.
            Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
        <ul class="contact">
            {{ range sort .Site.Data.contact "weight" }}
            <li class="icon {{ .class }}">
                {{ .name | markdownify }}
            </li>
            {{ end }}
        </ul>
        <ul class="contact">
            {{ range sort .Site.Data.socials "weight" }}
            <li class="icon {{ .class }}">
                <a href="{{ .url }}">
                    <span class="label">{{ .name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>

        {{ partial "copyright.html" . }}
    </div>
</section>