<!-- Footer -->
<section id="footer">
    <div class="inner">
        <h2 class="major">Contacteer ons</h2>
        <p>{{ .Site.Params.shortSiteName }} is opgericht met een helder en krachtig doel: het vinden van een betrouwbare partner eenvoudig maken.</p>

        <ul class="contact">
            {{ range sort .Site.Data.contact "weight" }}
            <li class="icon {{ .class }}">
                {{ .name | markdownify }}
            </li>
            {{ end }}
        </ul>
        <ul class="contact">
            {{ range sort .Site.Data.socials "weight" }}
            <li class="icon {{ .class }}">
                <a href="{{ .url }}">
                    <span class="label">{{ .name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>

        {{ partial "copyright.html" . }}
    </div>
</section>