<!-- Head -->
<head>
    <meta charset="utf-8" />

    {{ partial "head/seo.html" . }}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/source-sans-3-normal.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/source-sans-3-italic.woff2" crossorigin>

    <link rel="preload" as="style" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">

    <link rel="preload" as="style" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">

    <link rel="preload" as="style" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>