<!-- Menu -->
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="/huisopruimingen">Huisopruimingen</a></li>
            <li><a href="/tuinaanleg-en-onderhoud">Tuinaanleg en onderhoud</a></li>
            <li><a href="/karweiwerken">Karweiwerken</a></li>
            <li><a href="/projecten-en-realisaties">Projecten en Realisaties</a></li>
            <li><a href="/over-van-baste">{{ .Site.Params.shortSiteName }}</a></li>
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>